apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: mealie
  name: mealie
  # We can specifically target a namespace
  namespace: mealie
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mealie
  template:
    metadata:
      labels:
        app: mealie
    spec:
      containers:
      - image: ghcr.io/mealie-recipes/mealie:v3.5.0
        name: mealie
        # Expose a single port to the pod
        ports:
          - containerPort: 9000
        # Mount the persistent volume claim in storage.yaml
        volumeMounts:
        - mountPath: /app/data
          name: mealie-data
      volumes:
        - name: mealie-data
          persistentVolumeClaim:
            claimName: mealie-data
