apiVersion: v1
kind: Service
metadata:
  labels:
    app: mealie
  name: mealie
spec:
  ports:
    # Port is the port exposed on the node
  - port: 9999
    protocol: TCP
    # targetPort is the exposed by the pod
    targetPort: 9000
  selector:
    app: mealie
  type: LoadBalancer
